@charset "UTF-8";
/* CSS Document */

.menubar {
	background-color: #FFD700;
	overflow: hidden;
	font-family: helvetica;
}
body h1 a {
	text-decoration: none;
	color: black;
}
body h1 {
	font-family: helvetica;
	font-size: 36px;
	display: inline-block;
}

.homebar{
	position: fixed; /* or absolute */
	top: 72px;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.content {
	position: fixed;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: helvetica;
	font-size: 12px;
	top: 137px;
}
body h2 {
	font-family: helvetica;
	font-size: 16px;
	position: fixed; /* or absolute */
	top: 31%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: helvetica;
	font-size: 16px;
}

#canvas {
	position: fixed; /* or absolute */
	top: 500px;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.menubar a {
	padding: 7px 7px;
	float: right;
	background-color: black;
	color: white;
	text-decoration: none;
}
