@charset "UTF-8";
/* CSS Document */

.menubar {
	background-color: #FFD700;
	overflow: hidden;
	font-family: helvetica;
}
body h1 a {
	text-decoration: none;
	color: black;
}
body h1 {
	font-family: helvetica;
	font-size: 36px;
	display: inline-block;
}

.homebar{
	position: absolute; /* or absolute */
	top: 72px;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}

.content {
	position: absolute;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: pt-sans-narrow;
	font-size: 15px;
	top: 266px;
	/* [disabled]border-radius: 10px; */
	font-weight: 700;
	border: thin solid #B3B3B3;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	text-align: left;
	font-style: normal;
}
.content form .regin {
	width: 150px;
	height: 20px;
	color: #797979;
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
}
body h2 {
	font-family: helvetica;
	font-size: 16px;
	position: fixed; /* or absolute */
	top: 31%;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
	font-family: helvetica;
	font-size: 16px;
}

#canvas {
	position: fixed; /* or absolute */
	top: 500px;
	left: 50%;
	/* bring your own prefixes */
	transform: translate(-50%, -50%);
}
.menubar a {
	padding: 7px 7px;
	float: right;
	background-color: black;
	color: white;
	text-decoration: none;
}

#wrapper {
	margin-left: 200px;
	font-family: helvetica;
}
#content {
  float: right;
  width: 100%;

}
#sidebar {
  float: left;
  width: 200px;
  margin-left: -200px;
}
#cleared {
  clear: both;
}
